<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace = "fragments::head"></head>
<body>
<nav th:replace = "fragments::nav"></nav>
<h2  th:unless="${keepID!=null}" style="text-align:center; margin-top: 20px" th:text="'Edit ' + ${cheese.getName()} +' ID=' +${cheese.getCheeseID()}"></h2>
<h2  th:if="${keepID!=null}" style="text-align:center; margin-top: 20px" th:text="'Edit ' + ${cheese.getName()} +' ID=' +${keepID}"></h2>

<form th:action="@{${action}}" method="POST" style="width:30%; margin: 0 auto" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class ="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="categoryID">Type</label>
        <select id="categoryID" name="categoryID">
            <option th:unless="${keepCategoryID!=null}" th:each="category:${categories}" th:text="${category.name}" th:value="${category.id}" th:selected="${cheese.category.id == category.id}"></option>
            <option th:if="${keepCategoryID!=null}" th:each="category:${categories}" th:text="${category.name}" th:value="${category.id}" th:selected="${keepCategoryID == category.id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="rating">Rating</label>
        <select th:field = "*{rating}">
            <option th:each="cheeseRating:${cheeseRatings}" th:text="${cheeseRating.rating}" th:value="${cheeseRating}"></option>
        </select>
    </div>
    <input type="hidden" th:value="${cheese.cheeseID}" name="cheeseID" />
<!--    <input th:if="${keepCheeseID!=null}" type="hidden" th:value="${keepID}" name="cheeseID" />-->
    <input class="btn btn-primary" type="submit" value="Edit the cheese!"/>
</form>
</body>
</html>