<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace = "fragments::head"></head>
<body>
<nav th:replace = "fragments::nav"></nav>
<h1 th:text="${title}">Default Title</h1>
<form action="remove" method="POST"  style="width:30%; margin:0 auto">
<div class="form-check" th:each="cheese: ${cheeses}">
  <input class="form-check-input" type = "checkbox" name="cheeseIDs" th:value="${cheese.getCheeseID()}" id="cheeseIDs" />
    <label class="form-check-label"  for="cheeseIDs" th:text="${cheese.getName()}"></label>

</div>
    <input class="btn btn-primary" type="submit" value="Delete a cheese or cheeses!"/>
</form>
</body>
</html>