<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace = "fragments::head"></head>
<body>
<nav th:replace = "fragments::nav"></nav>
<form method="post" th:object="${category}" style="width:30%; margin: 0 auto">
    <div class="form-group">
        <label th:for="*{name}">Name</label>
        <input class="form-control" th:field="*{name}"/>
        <span th:errors="*{name}"></span>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>

</body>
</html>