<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
    <head th:replace = "fragments::head"></head>
<body>
    <nav th:replace = "fragments::nav"></nav>
    <h1 th:text="${title}" style="margin-top: 20px">Default Title</h1>
    <form th:object = "${form}" method="POST" style="width:30%; margin: 0 auto" action="../add-item">
        <label th:for="cheeseID">Cheese</label>
        <select th:field="*{cheeseID}">
            <option th:each="cheese:${form.cheeses}" th:value="${cheese.getCheeseID()}" th:text="${cheese.name}"></option>
        </select>
        <span th:errors="*{cheeseID}" class="error"></span>
        <input type="hidden" name="menuID" th:value="*{menu.id}" />
        <input class="btn btn-primary" type="submit" value="Add cheese to menu!"/>
    </form>

<div th:replace="fragments::bootstrapend"></div>
</body>
</html>